body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.brand-name:hover {
  transform: scale(1.1);
}

.brand-name {
  transition: transform 0.3s ease-in-out;
}

.head-navbar {
  background-color: #193821;
  border-bottom: #d4ba10 solid 5px;
}

.head1:hover {
  background-color: #d4ba10;
}

.head2-1 {
  background-color: #d4ba10;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.head2-2 {
  background-color: #d4ba10;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.head2-1:hover {
  background-color: #433f23;
}

.head2-2:hover {
  background-color: #433f23;
}

.brand-name {
  font-size: 30px;
}

.nav-toggler {
  background-color: #d4ba10;
}

.navbar .nav-link.dropdown-toggle {
  color: white;
}

.footer {
  background-color: #edd38c;
}

.btn-primary {
  color: #ffffff;
}

.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

/* images */
img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 26.6rem;
  height: 15rem;
  width: 100%;
  padding: 10px;
}

/* home products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
  width: 250px;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.product-name {
  color: black;
}

.product-brand {
  color: rgb(200, 170, 0);
}

.price {
  font-size: 1.5rem;
}

/* Rating */
.rating span {
  color: #edd38c;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #585858;
  padding-left: 10px;
}

.sort {
  border: none;
  border-bottom: 3px solid #f0c040;
  outline: none; /* Optional: remove the default blue outline */
}

.sort-drop {
  color: #e1c300;
}

/* PRODUCT PAGE */
.img-large {
  max-width: 100%;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

/* CART PAGE */
.img-thumbnail {
  height: 50px;
  width: 80px;
}

.cart-summary {
  position: sticky;
  top: 0;
}

/* SIGN IN PAGE */
.small-container {
  max-width: 600px;
}

/* CHECKOUT PAGE */
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #c9ae00;
  color: #e1c300;
}

/* USER LIST - ADMIN */
.admin-row {
  background-color: #ffdd003d;
  border: 2px dotted black;
}

/* SEARCHBAR COMPONENT */
#button-search {
  background-color: #d4ba10;
  color: #ffffff;
}
