body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.brand-name:hover {
  transform: scale(1.1);
}

.brand-name {
  transition: transform 0.3s ease-in-out;
}

.head-navbar {
  background-color: #193821;
}

.head1:hover {
  background-color: #d4ba10;
}

.head2-1 {
  background-color: #d4ba10;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.head2-2 {
  background-color: #d4ba10;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.head2-1:hover {
  background-color: #433f23;
}

.head2-2:hover {
  background-color: #433f23;
}

.brand-name {
  font-size: 30px;
}

.marquee-container {
  background-color: #d4ba10;
}

.nav-toggler {
  background-color: #d4ba10;
}

.navbar .nav-link.dropdown-toggle {
  color: white;
}

.footer {
  background-color: #edd38c;
}

.btn-primary {
  color: #ffffff;
}

.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

/* images */
img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 26.6rem;
  height: 15rem;
  width: 100%;
  padding: 10px;
}

/* home products */
.banner {
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  height: 400px; /* Adjust height as desired */
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.home-image {
  width: 200px; /* Adjust to your desired width */
  height: 200px; /* Adjust to your desired height */
  object-fit: cover;
}

.active-link {
  color: #f0c040;
}

.display-4 {
  margin-bottom: 10px;
}

.products {
  padding: 1rem 0;
}

.fade-in-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 2s ease-in 1 forwards;
  opacity: 0;
}

.fade-in-image-delay-1 {
  animation-delay: 0.5s;
}

.fade-in-image-delay-2 {
  animation-delay: 1s;
}

.fade-in-image-delay-3 {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-container {
  position: relative;
  display: inline-block; /* Add this line */
}

.image-caption {
  position: absolute;
  bottom: 7px; /* Adjust to your desired position */
  right: 2px; /* Adjust to your desired position */
  font-size: 15px;
  color: rgb(200, 170, 0); /* Change text color for better visibility */
  background-color: rgba(
    2,
    66,
    22,
    0.982
  ); /* Add a background color with some transparency */
  padding: 5px 10px; /* Add some padding */
  width: calc(
    100% - 5px
  ); /* Make the caption width the same as the image width, minus the padding */
  box-sizing: border-box; /* Include padding and border in element's total width */
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.image-caption:hover {
  transform: scale(1.1); /* Enlarge slightly on hover */
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
  width: 250px;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.product-name {
  color: black;
}

.product-brand {
  color: rgb(200, 170, 0);
}

.product-card {
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.product-btn {
  background-color: #0d4117;
}

.price {
  font-size: 1.5rem;
}

/* Rating */
.rating span {
  color: #edd38c;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #585858;
  padding-left: 10px;
}

.sort {
  border: none;
  border-bottom: 3px solid #f0c040;
  outline: none; /* Optional: remove the default blue outline */
}

.sort-drop {
  color: #e1c300;
}

/* PRODUCT PAGE */
.img-large {
  max-width: 100%;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

.canvas-container {
  position: relative;
  width: 640px;
  height: 480px;
}

.canvas-container canvas,
.canvas-container video {
  position: absolute;
  top: 0;
  left: 0;
}

/* CART PAGE */
.img-thumbnail {
  height: 50px;
  width: 80px;
}

.cart-summary {
  position: sticky;
  top: 0;
}

/* SIGN IN PAGE */
.small-container {
  max-width: 600px;
}

/* CHECKOUT PAGE */
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #c9ae00;
  color: #e1c300;
}

/* USER LIST - ADMIN */
.admin-row {
  background-color: #ffdd003d;
  border: 2px dotted black;
}

/* SEARCHBAR COMPONENT */
#button-search {
  background-color: #d4ba10;
  color: #ffffff;
}
#button-search:hover {
  background-color: #978b37;
  color: #ffffff;
}

.filter-button:hover {
  background-color: #0d4117;
}

/* EYE TEST */
hr {
  border: none;
  border-top: 5px solid #d4ba10;
  margin: 20px 0;
}

.submit1-btn {
  background-color: #1f4f2b;
  color: #ffffff;
}

/* EACH PRODUCTS */

.nav-pills-custom {
  background-color: white;
}

.nav-pills-custom .nav-link {
  color: #1f4f2b;
  font-weight: bolder;
}

.nav-pills-custom .nav-link.active {
  color: #1f4f2b;
  border-bottom: 5px solid #d4ba10;
}

.nav-pills-custom .nav-link:focus,
.nav-pills-custom .nav-link:visited,
.nav-pills-custom .nav-link:hover {
  color: green;
  text-decoration: none;
}

.product-screen-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ABOUT US */
.icon {
  margin-right: 10px;
}

.ab-img {
  max-height: 300px;
  width: 600px;
}

/* EYE TESTING */
.ast-clock {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .ast-clock {
    max-width: 200px; /* Reduced from 300px */
  }
}

@media (min-width: 992px) {
  .ast-clock {
    max-width: 300px; /* Reduced from 500px */
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 1s forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 1s forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
